{% extends 'layout.html' %}
{% block content%}
<div class="row">
  <div class="col-sm-5 mx-auto">
    <div class="text-center">
      <h1>Forgot your password?</h1>
    </div>
    <form method="POST">
      {{ form.hidden_tag()}}
      <div class="form-group">
        {{form.email.label(class="form-control-label")}}
          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feedback">
              {% for err in form.email.errors %}
                <span>{{ err }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{form.email(class="form-control form-control-lg")}}
          {% endif %}
      </div>
      <div class="form-group">
        {{form.submit(class="btn btn-lg btn-dark")}}
      </div>
    </form>
  </div>
</div>

{% endblock content %}
