{% extends 'layout.html' %}
{% block content %}
<div class="row">
  <div class="col-sm-5 mx-auto">
    <div class="text-center">
      <h2>Reset your password</h2>
    </div>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.password.label(class="form-control-label") }}
          {% if form.password.errors %}
            {{ from.passwrod(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feedback">
              {% for err in form.password.errors %}
                <span>{{ err }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="form-control form-control-lg") }}
          {% endif %}
      </div>
      <div class="form-group">
        {{ form.confirm_password.label(class="form-control-label") }}
          {% if form.confirm_password.errors %}
           {{ form.confirm_password(class="form-control form-control-lg is-invalid")}}
           <div class="invalid-feedback">
            {% for err in form.confirm_password.errors %}
              <span>{{ err }}</span>
            {% endfor %}
           </div>
          {% else %}
            {{ form.confirm_password(class="form-control form-control-lg") }}
          {% endif %}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-lg btn-dark") }}
      </div>
    </form>
  </div>
</div>
{% endblock content%}
